<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <filter>
        <filter-name>MyFilter</filter-name>
        <filter-class>com.excalibur.znovel.servlet.filter.MyFilter</filter-class>
        <init-param>
            <param-name>charset</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>contentType</param-name>
            <param-value>text/html;charset=UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>MyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>com.excalibur.znovel.servlet.shuji.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/findbook/chaxun</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShuChengServlet</servlet-name>
        <servlet-class>com.excalibur.znovel.servlet.shuji.ShuChengServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShuChengServlet</servlet-name>
        <url-pattern>/findbook/shucheng</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ZhangJieServlet</servlet-name>
        <servlet-class>com.excalibur.znovel.servlet.yuedu.ZhangJieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ZhangJieServlet</servlet-name>
        <url-pattern>/findbook/zhangjie</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LiShiServlet</servlet-name>
        <servlet-class>com.excalibur.znovel.servlet.yonghu.LiShiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LiShiServlet</servlet-name>
        <url-pattern>/yonghu/lishi</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>YiJianServlet</servlet-name>
        <servlet-class>com.excalibur.znovel.servlet.YiJianServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>YiJianServlet</servlet-name>
        <url-pattern>/fankui</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FileServlet</servlet-name>
        <servlet-class>com.excalibur.znovel.servlet.FileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileServlet</servlet-name>
        <url-pattern>/file/upload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MessageServlet</servlet-name>
        <servlet-class>com.excalibur.znovel.servlet.yonghu.MessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessageServlet</servlet-name>
        <url-pattern>/yonghu/message</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StarServlet</servlet-name>
        <servlet-class>com.excalibur.znovel.servlet.yonghu.StarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StarServlet</servlet-name>
        <url-pattern>/yonghu/star</url-pattern>
    </servlet-mapping>
</web-app>